.popup__content {
  display: flex;
  flex-direction: column;
  padding: 25px 22px;
  min-width: 358px;
}


@media screen and (min-width:1280px) {
  .popup__content {
    padding: 34px 36px 37px;
  }
}
